<nav class="navbar navbar-expand-lg bg-light fixed-top nav-main-body">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="logo-main">LowTech</span> <span class="gmbh-text">GmbH</span></a>
        <button class="navbar-toggler toggle-nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="d-flex" role="search">
                <input class="form-control search-input-nav search-input-icon-border-color no-active-focus" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn search-input-icon search-input-icon-border-color no-active-focus" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <i class="fa-light fa-table"></i> Home</a>
                </li> -->
            </ul>

            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="navbar-icon-text">
                                <span class="nav-icon-link">
                                    <i class="fa-solid fa-headset"></i>
                                </span>
                                <span class="navbar-text nav-text-link">Help & Contact</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div class="navbar-icon-text">
                                <span class="nav-icon-link">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <span class="navbar-text nav-text-link">Login</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div class="navbar-icon-text">
                                <span class="nav-icon-link">
                                    <i class="fa-solid fa-address-card"></i>
                                </span>
                                <span class="navbar-text nav-text-link">Registration</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div class="navbar-icon-text">
                                <span class="nav-icon-link">
                                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                </span>
                                <span class="navbar-text nav-text-link">Shopping cart</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<!-- ======================================== -->


<router-outlet></router-outlet>


<footer class="footer">

    <div class="footer-middle">
        <div class="container">
            <div class="bottom-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-contact">
                            <h3>Get In Touch With Us</h3>
                            <p class="phone">Phone: +1 (900) 33 169 7720</p>
                            <ul>
                                <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
                                <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
                            </ul>
                            <p class="mail">
                                <a>mazba09&#64;gmail.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Information</h3>
                            <ul>
                                <li><a href="javascript:void(0)">About Us</a></li>
                                <li><a href="javascript:void(0)">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h3>Shop Departments</h3>
                            <ul>
                                <li><a href="javascript:void(0)">Computers & Accessories</a></li>
                                <li><a href="javascript:void(0)">Smartphones & Tablets</a></li>
                                <li><a href="javascript:void(0)">TV, Video & Audio</a></li>
                                <li><a href="javascript:void(0)">Cameras, Photo & Video</a></li>
                                <li><a href="javascript:void(0)">Headphones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <div class="payment-gateway">
                            <span>We Accept:</span>
                            <img src="https://fakeimg.pl/200x25/503ec2/121111?font=noto-serif" alt="#">
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="copyright">
                            <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                    target="_blank">GrayGrids</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <a href="#" class="">
                            <i class="fa-light fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>