/*xs applicable only*/
@media only screen and (min-width: 0px) and (max-width: 540px) {
    .wrapper-content {
        margin-top: 40px;
    }

    .slide-margin {
        margin-top: 37px;
    }
}

/*sm applicable only*/
@media only screen and (min-width: 541px) and (max-width: 720px) {
    .wrapper-content {
        margin-top: 40px;
    }

    .slide-margin {
        margin-top: 37px;
    }
}

/*md,lg,xl,xxl only*/
@media only screen and (min-width: 721px) and (max-width: 1320px) {
    .slide-margin {
        margin-top: 80px;
    }
}