<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">


                <div class="status-container">
                    <div class="status-bar">
                        <div class="status-step completed">
                            <div class="status-icon">✓</div>
                            <p>Order Placed</p>
                        </div>
                        <div class="status-step completed">
                            <div class="status-icon">✓</div>
                            <p>Shipped</p>
                        </div>
                        <div class="status-step active">
                            <div class="status-icon">⌛</div>
                            <p>Out for Delivery</p>
                        </div>
                        <div class="status-step">
                            <div class="status-icon">⏳</div>
                            <p>Delivered</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>