<section class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>All Categories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="categories-product">
                    <div class="categorySlider d-flex align-items-center justify-content-between">
                        
                            <div *ngFor="let item of [1,2,3,5,5,6]" class="">
                                <a [routerLink]="['/product-list']" >
                                    <img src="https://fakeimg.pl/150x150/7a203c/121111?font=noto-serif" alt="#">
                                </a>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>