<app-loading [isLoading]="isLoading"></app-loading>

<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-single-list cart-list-items">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allProductInMyCart">
                                    <td>
                                        <a [routerLink]="['/',item.product_id]">
                                            <img src="https://storage.googleapis.com/low_tech_gmbh_storage/{{item.image}}"
                                                alt="#" width="100" height="100">
                                        </a>
                                    </td>
                                    <td>
                                        <h5 class="product-name">
                                            <a>{{item.name}}</a>
                                        </h5>
                                    </td>
                                    <td>
                                        <!-- <div class="count-input">
                                            <select class="form-control">
                                                <option *ngFor="let opt of [1,2,3,4,5]" [value]="opt"
                                                    [selected]="opt == item.quantity">
                                                    {{opt}}
                                                </option>
                                            </select>
                                        </div> -->

                                        <div class="count-input">
                                            <button (click)="addOneMore(item.id)"
                                                class="btn btn-primary btn-sm">+</button>

                                            <span class="item-number-my-cart">{{item.quantity}}</span>

                                            <button (click)="addMinusOne(item.id)"
                                                class="btn btn-warning btn-sm">-</button>

                                        </div>
                                        <p>In stock: {{item.available}}</p>

                                    </td>
                                    <td>
                                        <p>€{{item.price}}.00</p>
                                    </td>
                                    <td>
                                        <p>€{{item.price*item.quantity}}.00</p>
                                    </td>
                                    <td>
                                        <a (click)="removeItemFromCart(item.id)" class="remove-item">
                                            <i class="fa-light fa-xmark"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-12">

                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>€{{totalPrice}}.00</span></li>
                                    <li>Shipping<span>Free</span></li>
                                    <li class="last">You Pay<span>€{{totalPrice}}.00</span></li>
                                </ul>
                                <div class="button">
                                    <a [routerLink]="['/checkout']" class="btn">Checkout</a>
                                    <a href="product-grids.html" class="btn btn-alt">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>