<app-loading [isLoading]="isLoading"></app-loading>


<section class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>All Categories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of category" class="col-4 col-md-2">
                <a [routerLink]="['/product-by-category/',item.id]" class="category-image-a">
                    <img src="{{item.image}}" class="category-image" alt="#">
                </a>
            </div>
        </div>
    </div>
</section>