:root { 
    --color-c23480: #888; 
    --color-c23481: #0167F3; 
    --color-c23482: #081828; 
    --color-c23483: #3b3b3b; 
    --color-c23484: #767676; 
    --color-c23485: #858585; 
    --color-c23486: #fff; 
    --color-c23487: #eee; 
    --color-c23488: #0000000f; 
    --color-c23489: #555; 
    --color-c2348a: #e6e6e6; 
    --color-c2348b: #222; 
    --color-c2348c: #ededed; 
    --color-c2348d: #e2e2e2; 
    --color-c2348e: #000; 
    --color-c2348f: #333; 
    --color-c23490: #8a8a8a; 
    --color-c23491: #f9f9f9; 
    --color-c23492: #777; 
    --color-c23493: #f0f0f0; 
    --color-c23494: #666; 
    --color-c23495: #00000012; 
    --color-c23496: #f73232; 
    --color-c23497: #fecb00; 
    --color-c23498: #aaaaaa; 
    --color-c23499: #ffffff0d; 
    --color-c2349a: #e5e5e5; 
    --color-c2349b: #232323; 
    --color-c2349c: #00000007; 
    --color-c2349d: #dfdfdf; 
    --color-c2349e: #999; 
    --color-c2349f: #e7e7e7; 
    --color-c234a0: #444; 
    --color-c234a1: #d5d5d5; 
    --color-c234a2: #ca0f05; 
    --color-c234a3: #029c07; 
    --color-c234a4: #e1e1e1; 
    --color-c234a5: #3b5999; 
    --color-c234a6: #55acee; 
    --color-c234a7: #dd4b39; 
    --color-c234a8: #0077B5; 
    --color-c234a9: #bd081c; 
    --color-c234aa: #ffa000; 
    --color-c234ab: #f44336; 
    --color-c234ac: #dddddd; 
    --color-c234ad: #dbdbdb; 
    --color-c234ae: #e0e0e0; 
    --color-c234af: #505050; 
    --color-c234b0: #7D7D7D; 
    --color-c234b1: #e4e4e4; 
    --color-c234b2: #00000008; 
    --color-c234b3: #3b5998; 
    --color-c234b4: #e6e2f5; 
    --color-c234b5: #ffffff26; 
    --color-c234b6: #c2c2c2; 
    --color-c234b7: #d6d6d6; 
    --color-c234b8: #ffffff0f; 
    --color-c234b9: #70757a; 
} 